@font-face {
  src: url("../src/fonts/Manrope-Regular.ttf");
  font-family: Manrope400;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../src/fonts/Manrope-Medium.ttf");
  font-family: Manrope500;
  font-weight: 500;
  font-style: normal;;
}